/*---------- Generic Sytles ----------*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #101E30;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4078C0;
}

p {
    color: #DDDDDD;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

/* ---------- Navbar & Sidenav ---------- */
nav .brand-logo {
    color: #DDDDDD;
    margin-left: 25px;
    font-size: 2rem
}

.sidenav {
    background-color: #4078C0;
}

.sidenav li a {
    color: #DDDDDD;
}

.nav-wrapper {
    background-color: #4078C0;
}

nav li a {
    color: #DDDDDD;
    font-weight: 400;
}

/* -------------- Footer ---------- */
.page-footer {
    background-color: #4078C0;
    color: #DDDDDD;
    padding-top: 10px;
}

.footer-social-media li {
    display: inline-block;
    padding-right: 20px;
    font-size: 1rem;
}

.footer-social-media li a i {
    font-size: 2rem;
}

.footer-link li a {
    color: #DDDDDD;
}

/* ---------- Flash Message ---------- */
.flash-msg {
    padding-top: 4px;
    padding-bottom: 4px;
}

.close-msg {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
}

.close-msg:hover,
.close-msg:focus {
  text-decoration: none;
  cursor: pointer;
}

/* ---------- Tables ---------- */
.td-text-heading {
    color: #DDDDDD;
    
}

.td-text {
    color: #DDDDDD;
    font-size: 14px;
    font-weight: 300;
}

/* ---------- Contact Page ---------- */
.contact-textarea {
    height: 10rem;
    color: #DDDDDD;
}

.form-text {
    color: #DDDDDD;
}

/* ---------- Search Panel ---------- */
.search-panel {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #DDDDDD;
    margin-top: 0px;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    padding: 10px;
}

.search-btn {
    margin: 4px;
}

/* ---------- Modals ---------- */
.modal-style {
    background-color: #101E30 !important;
    border: 1px solid #DDDDDD !important;
}

.modal-footer-style {
    background-color: #101E30 !important;
    border-top: 1px solid #2F2838 !important;
}

/* ----------- Login / Register Panel ---------- */
.login-panel,
.register-panel {
    background-color: #101E30 !important;
    border: 1px solid #DDDDDD;
}

/* ---------- Coin Card ---------- */
.coin-card {
    border: 1px solid #DDDDDD;
    border-radius: 2%;
}

.add-coin-btn {
    padding: 1em;
    display: inline-block;
}

/*---------- Coin table inside collapsible ----------*/
.coin-image {
    margin-top: 10px;
    max-width: 160px;
    max-height: 160px;
}

.card-reveal {
    background-color: #4078C0 !important;
}

.user_coin_table {
    background-color: rgba(0, 0, 0, 0.2);
}

.td-text {
    border: 0;
    margin: 0;
    padding: 0;
}

td {
    padding-top: 1px;
    padding-bottom: 1px;
}

.collapsible-header {
    background-color: #101E30;
}

.input-field label,
.input-field input {
    color: #DDDDDD;
}

.input-field textarea {
    color: #DDDDDD;
}

/* Set the colour of the select item icon */
.select-wrapper .caret {
    fill: #DDDDDD;
}

select {
    border: 1px solid #101E30 !important;
}

/* label underline focus color */
.coin-input input[type=text]:focus {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 0 #DDDDDD;
}

.coin-input textarea.materialize-textarea[type=text]:focus {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 0 #DDDDDD;
}

.card .card-title {
    font-size: 14px;
    font-weight: 300;
    color: #DDDDDD !important;
}

/* Center align the card images. */
.card .card-image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
}

.card-content {
    border-bottom: 10px;
}

.card-content {
    padding: 1rem !important;
}

.card-action {
    padding: 1rem !important;
}


/* A fix to stop Chrome from setting the background colour to white
when the user selects a input from the autocomplete list.
Set the box shadow to the same colour as the background
CREDIT: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #101E30 inset !important;
    -webkit-box-shadow: 0 0 0 30px #101E30 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #DDDDDD !important;
}

/* ---------- Flask Pagination Styles ---------- */
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
    color: #DDDDDD;

    display: inline-block;
}

.pagination {
    display: inline-block;
}

.pagination li a {
    color: #DDDDDD;
}

.pagination li.active {
    background-color: #66BB6A;
}

/* ---------- Media Queries ---------- */

@media screen and (min-width: 992px) {
    .search-valign {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .modal {
        width: 80%;
    }
}