/*---------- Generic Sytles ----------*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #101E30;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4078C0;
}

p,
nav .brand-logo {
    color: #DDDDDD;
}

.nav-wrapper {
    background-color: #4078C0;
}

nav li a {
    color: #DDDDDD;
    font-weight: 400;
}

/*---------- Coin table inside collapsible ----------*/
.coin-image {
    width: 100px;
    height: 100px;
}

.td-text {
    border: 0;
    margin: 0;
    padding: 0;
}

td {
    padding-top: 1px;
    padding-bottom: 1px;
}

.collapsible-header {
    background-color: #101E30;
}

.input-field label,
.input-field input {
    color: #DDDDDD;
}

/* Set the colour of the select item icon */
.select-wrapper .caret {
    fill: #DDDDDD;
}

.input-field input[type=text]:focus+label {
    color: #DDDDDD !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 0 #DDDDDD;
}

/* A fix to stop Chrome from setting the background colour to white
when the user selects a input from the autocomplete list.
Set the box shadow to the same colour as the background
CREDIT: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #101E30 inset !important;
    -webkit-box-shadow: 0 0 0 30px #101E30 inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #DDDDDD !important;
}

