{% extends "base.html" %}
{% block content %}

<div class="row add-coin-form">
    <form class="col s12" method="POST" action="{{ url_for('add_coin') }}">
        <div class="row">
            <div class="input-field col s6">
                <select name="denomination" id="denomination" class="validate" required>
                    <option value="">Select Denomination</option>
                    {% for denomination in denominations %}
                        <option value="{{ denomination.name }}">{{ denomination.name }}</option>
                    {% endfor %}
                    <label for="denomination">Denomination</label>
                </select>
            </div>
            <div class="input-field col s6">
                <input id="year" name="year" type="text" class="validate" required>
                <label for="year">Year</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="issue" name="issue" type="text" class="validate" required>
                <label for="issue">Issue</label>
            </div>
            <div class="input-field col s6">
                <input id="description" name="description" type="text" class="validate" required>
                <label for="description">Description</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="edge" name="edge" type="text" class="validate">
                <label for="edge">Edge Inscription</label>
            </div>
            <div class="input-field col s6">
                <input id="mintage" name="mintage" type="text" class="validate">
                <label for="mintage">Mintage</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="material" name="material" type="text" class="validate">
                <label for="material">Material</label>
            </div>
            <div class="input-field col s6">
                <input id="thickness" name="thickness" type="text" class="validate">
                <label for="thickness">Thickness</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="weight" name="weight" type="text" class="validate">
                <label for="weight">Weight</label>
            </div>
            <div class="input-field col s6">
                <input id="diameter" name="diameter" type="text" class="validate">
                <label for="diameter">Diameter</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input id="obverse_designer" name="obverse_designer" type="text" class="validate">
                <label for="obverse_designer">Obverse Designer</label>
            </div>
            <div class="input-field col s6">
                <input id="reverse_designer" name="reverse_designer" type="text" class="validate">
                <label for="reverse_designer">Reverse Designer</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field col s6">
                <div class="btn">
                    <span>Obverse Image</span>
                    <input id="obverse_img_fname" name="obverse_img_fname" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <div class="file-field input-field col s6">
                <div class="btn">
                    <span>Reverse Image</span>
                    <input id="reverse_img_fname" name="reverse_img_fname" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <!-- Submit Form -->
        <div class="row">
            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                Upload <i class="fas fa-sign-in-alt"></i>
            </button>
        </div>
    </form>
</div>

{% endblock %}