<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Coin Collector</title>
</head>

<body>
    <!-- Nav Bar -->
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('get_coins') }}" class="brand-logo left">Coin Collector</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                {% if session.user %}
                    {% if not session.admin %}
                        <li><a href="{{ url_for('get_coins') }}">My Collection</a></li>
                        <li><a href="{{ url_for('wishlist') }}">My Wishlist</a></li>
                    {% endif %}
                {% else %}
                <li><a href="{{ url_for('get_coins') }}">Home</a></li>
                {% endif %}

                {% if session.user %}
                <li><a href="{{ url_for('coin_list') }}">Coin List</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
                {% if session.user %}
                {% if session.admin %}
                <li><a href="{{ url_for('add_coin') }}">Add Coin</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
        {% if session.user %}
            {% if not session.admin %}
                <li><a href="{{ url_for('get_coins') }}">My Collection</a></li>
                <li><a href="{{ url_for('wishlist') }}">My Wishlist</a></li>
            {% endif %}
        {% else %}
        <li><a href="{{ url_for('get_coins') }}">Home</a></li>
        {% endif %}

        {% if session.user %}
        <li><a href="{{ url_for('coin_list') }}">Coin List</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        {% if session.user %}
        {% if session.admin %}
        <li><a href="{{ url_for('add_coin') }}">Add Coin</a></li>
        {% endif %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
    </ul>

    <!-- Flash Message -->
    <section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h5 class="light-blue lighten-4 center-align flash-msg">{{ message }} <i
                    class="fas fa-window-close right close-msg" onclick=delete_flash(this)></i></h5>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!-- Main Page Content -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <p class="grey-text text-lighten-4">This site is for educational purposes only.</p>
                    <p class="grey-text text-lighten-4">All Images are copyright of The Royal Mint</p>
                    <ul class="footer-link">
                        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Follow Us On</h5>
                    <ul class="footer-social-media">
                        <li>
                            <a class="grey-text text-lighten-3" href="https://en-gb.facebook.com/" target="_blank"
                                aria-label="Facebook Page">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://twitter.com/?lang=en-gb" target="_blank"
                                aria-label="Twitter Page">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.instagram.com/" target="_blank"
                                aria-label="Instagram Page">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>