{% extends "base.html" %}
{% block content %}

{% if not session.user %}
<h1>Welcome to Coin Collector</h1>
<p>Coin Collector is a website created for people who enjoy collecting coins that are in everyday
    circulation within the UK. Coin Collector is a place to easily record coins you have found and
    to see what coins are missing from your collection.
</p>
<p>To get started please register to create an account. If already registered the please login to
    see your collection.
</p>
<p>Good luck collecting those coins!</p>

<a class="waves-effect waves-light btn-large" href="{{ url_for('register') }}">Register</a>
<a class="waves-effect waves-light btn-large" href="{{ url_for('login') }}">Login</a>

{% else %}
<h1>User Page</h1>

<ul class="collapsible">
    {% for coin in coins %}
    <li>
        <div class="collapsible-header">
            <p class="td-text">{{ coin.year }} - {{ coin.denomination }} - {{ coin.issue }}</p>
        </div>
        <div class="collapsible-body">
            <table>
                <tbody>
                    <tr>
                        <td rowspan="4" class="coin-table-img"><img src="{{ coin.reverse_image }}" alt=""
                                class="square coin-image">
                        </td>
                        <td>
                            <p class="td-text">Denomination:</p>
                        </td>
                        <td>
                            <p class="td-text">{{ coin.denomination }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="td-text">Year:</p>
                        </td>
                        <td>
                            <p class="td-text">{{ coin.year }} </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="td-text">Issue:</p>
                        </td>
                        <td>
                            <p class="td-text">{{ coin.issue }} </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="td-text">Description:</p>
                        </td>
                        <td>
                            <p class="td-text">{{ coin.description }} </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a class="waves-effect waves-light btn-small green lighten-1">Edit</a>
                <a class="waves-effect waves-light btn-small red lighten-1">Delete</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>





<!-- <ul class="collection">
    {% for coin in coins %}
    <li class="collection-item avatar">
        <img src="{{ coin.reverse_image }}" alt="" class="circle coin-image">
        <span class="title">{{ coin.denomination }}</span>
        <p>
            {{ coin.year }} <br>
            {{ coin.issue }} <br>
            {{ coin.description }}
        </p>
    </li>
    {% endfor %}


</ul> -->
{% endif %}
{% endblock %}