{% extends "base.html" %}
{% block content %}
{% if wishlist_coins|length > 0 %}
<div class="row">
    <div class="col s12">
        <h4>Your Wishlist</h4>
        <p>Below are the coins currently in your wishlist.
        </p>
    </div>
</div>

<div class="row">
    {% for wishlist_coin in wishlist_coins %}
    <div class="col s12 l6 xl4">
        <div class="coin-card card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator coin-image" src="{{ wishlist_coin.coin_data.reverse_image }}" alt="Reverse Image">
            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ wishlist_coin.coin_data.year}}:
                    {{ wishlist_coin.coin_data.issue }}<i class="fas fa-ellipsis-v right"></i></span>
            </div>

            <div class="card-action">
                <div class="col s6 btn-wrapper">
                    <a href="#{{wishlist_coin._id}}"
                        class="tooltipped waves-effect waves-light btn-small green lighten-1 modal-trigger"
                        data-position="top" data-tooltip="Add to Collection">Copy</a>
                </div>

                <div class="col s6 btn-wrapper">
                    <a href="#delete_{{wishlist_coin._id}}"
                        class="tooltipped waves-effect waves-light btn-small red lighten-1 modal-trigger"
                        data-position="top" data-tooltip="Remove from Wishlist">Remove</a>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ wishlist_coin.coin_data.issue }}<i
                        class="fas fa-times right"></i></span>
                <p>{{ wishlist_coin.coin_data.description }}</p>
                <table>
                    <tr>
                        <td class="td-text-heading">Year</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.year }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">General Circulation</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.circulation }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Edge Inscription</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.edge }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Mintage</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.mintage }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Material</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.material }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Thickness</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.thickness }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Weight</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.weight }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Diameter</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.diameter }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Obverse Designer</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.obverse_designer }}</td>
                    </tr>
                    <tr>
                        <td class="td-text-heading">Reverse Designer</td>
                        <td class="td-text">{{ wishlist_coin.coin_data.reverse_designer }}</td>
                    </tr>
                </table>
                <div class="col s12">
                    <div class="center-align">
                        <img class="activator coin-image" src="{{ wishlist_coin.coin_data.obverse_image }}"
                            alt="Obverse Image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Coin Modal Structure -->
    <div id="{{wishlist_coin._id}}" class="modal modal-style">
        <form method="POST" action="{{ url_for('add_user_coin', coin_id=wishlist_coin.coin_data._id) }}">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12 center-align">
                        <h5>{{ wishlist_coin.coin_data.year }} - {{ wishlist_coin.coin_data.denomination }} -
                            {{ wishlist_coin.coin_data.issue }}</h5>
                    </div>
                    <div class="col s12">
                        <div class="center-align">
                            <img class="activator coin-image" src="{{ wishlist_coin.coin_data.reverse_image }}"
                                alt="Reverse Image">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="date-found-{{wishlist_coin.coin_data._id}}"
                            name="date-found-{{wishlist_coin.coin_data._id}}" type="text" class="datepicker validate"
                            required>
                        <label for="date-found-{{wishlist_coin.coin_data._id}}">Date Found</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="notes-{{wishlist_coin.coin_data._id}}" name="notes-{{wishlist_coin.coin_data._id}}"
                            type="text" class="validate">
                        <label for="notes-{{wishlist_coin.coin_data._id}}">Notes</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer modal-footer-style">
                <div class="row">
                    <div class="col s6">
                        <button type="submit" class="btn-small green lighten-1 right">Copy</button>
                    </div>
                    <div class="col s6">
                        <a href="#!" class="modal-close btn-small red lighten-1 left">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Remove Modal Structure -->
    <div id="delete_{{wishlist_coin._id}}" class="modal modal-style">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center-align">
                    <h5>{{ wishlist_coin.coin_data.year }} - {{ wishlist_coin.coin_data.denomination }} -
                        {{ wishlist_coin.coin_data.issue }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <img class="activator coin-image" src="{{ wishlist_coin.coin_data.reverse_image }}"
                        alt="Reverse Image">
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <p>Please confirm removal of the above coin from your wishlist.</p>
                </div>
            </div>
        </div>


        <div class="modal-footer modal-footer-style">
            <div class="container">
                <div class="row">
                    <div class="col s6">
                        <a href="{{ url_for('delete_wishlist_coin', wishlist_coin_id=wishlist_coin._id)}}"
                            class="modal-close waves-effect waves-green btn-small right red lighten-1">Confirm</a>
                    </div>
                    <div class="col s6">
                        <a href="#!"
                            class="modal-close waves-effect waves-green btn-small left green lighten-1">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<div class="row">
    <div class="col s12 center-align">
        {{ pagination.links }}
        {{ pagination.info }}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col s12">
        <h4>Your Wishlist</h4>
        <p>You currently have no coins in your wishlist. Browse the <a href="{{ url_for('coin_list') }}">Coin List</a>
            page to start adding coins to your wish list.</p>
    </div>
</div>
{% endif %}
{% endblock%}